@import "variables";

details.toc-top-level {
  & summary {
    cursor: pointer;
    & > * {
      display: inline;
    }
  }
  & > summary::marker {
    content: '';
  }
  &:not([open]) {
    writing-mode: vertical-rl;
  }
}

details.toc-details:not(.toc-top-level) > summary {
  @include toc-item-box;
}

details.toc-details > ul {
  margin-left: 1rem;
}

.toc-title {
  font-size: 1rem !important;
}

.active {
  @include toc-item-box-active;
}