@import "variables";

details.toc-top-level summary {
  cursor: pointer;
}

details.toc-top-level summary > * {
  display: inline;
}

details.toc-details:not(.toc-top-level) > summary {
  @include toc-item-box;
}

details.toc-details > ul {
  margin-left: 1rem;
}

.toc-title {
  font-size: 1rem !important;
}

.active {
  @include toc-item-box-active;
}