:target::before {
  height: initial !important;
  margin: initial !important;
}

h3 {
  margin-top: 0.6rem !important;
}

.tag {
  font-size: 13px !important;
}

.content ul ul {
  margin-top: 0.2em !important;
}

.content li + li {
  margin-top: 0.1em !important;
}
