.index-hero {
  background-image: url("../images/hero-image.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & > :global(.hero-body) {
    flex-direction: column !important;
    justify-content: center;

    & > :global(.title) {
      color: yellow;
      background-color: #000000c9;
      padding: 10px;
      font-size: 1.7rem;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    & > :global(.subtitle) {
      color: yellow;
      background-color: #000000d4;
      padding: 10px 20px 10px;
      text-align: center;
      font-size: 1.35rem;
      line-height: 1.8rem;
      margin-top: 10px;
    }
  }
}
