.card {
  // min-width: 16rem;
  flex-basis: 20rem;
  margin: 0.5rem;
}

.name {
  // fix title box sizing
  margin-bottom: 1.2rem !important;
}

.media {
  // Override bulma default
  margin-bottom: 0.6rem !important;
  & figure.circle {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
  }
}
